<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/style.css '%}">
    <title>Title</title>
</head>
<body>
Static
<div id="root">

</div>
<form action="" method="POST">
    <input type="text" name="identification"> <br>
    <input type="text" name="massages"> <br>
    <input type="text" name="state">  <br>
    <input type="buttone" value="OK" id="form_ok">

</form>
<script src="{% static 'main/index.js' %}"></script>
</body>
</html>